.navbar-inverse .brand {
color: #900;
}

img{
	margin-bottom:10px;
	margin-left: 100px;
	

}

#home {
	margin-top: 20px;
}

@media screen and (max-width:979px){
.navbar-fixed-bottom{
	margin-top:0px;
	position:fixed; 
}


}

@media screen and (max-width:600px){

img {
	margin-left:0px;
	
}

#home{
	margin-top:0px;
}
}